/* static/css/style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 /* Specifying the formatting of the main web page */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #000000;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #515151 0%, #474748 100%);
}

/* Setting up some formatting for input field box */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setting font size for title text */
title {
    font-size: 128px;
}

/* h1 title font size */
h1 {
    font-size: 128px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 24px 40px;
    margin: 16px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
}

/* Creating the wavy design of the button */
button {
    background-color: #4caf50;
    background-image: linear-gradient(135deg, #43c6ac 0%, #191654 100%);
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

#result {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Defining h2 font size */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Defining large font size to make sure returned news stories are large enough */
.large-font {
    font-size: 36px; 
}