<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hacking4Humanity 2024 Tech Track!</title>
    <style>
        body {
            text-align: center; 
        }

        #newsOutput {
            margin-top: 20px; 
        }
    </style>
</head>
<body>

    <form id="newsButton" action="#" method="post" onsubmit="event.preventDefault(); submitForm()">
        <label for="userInput">Hello! I am a news chatbot! Ask me about the current events.</label>
        <input type="text" id="userInput" placeholder="Enter News Request Here Human">
        <button type="submit">Submit for News!!!</button>
    </form>

    <img src= "Untitled design (57).png" width="250" height="250" alt="me">

    <div id="newsOutput"></div>

    <script>
        async function submitForm() {
            var userInput = document.getElementById('userInput').value;

            alert('Fetching the News! You asked: ' + userInput);
            
            // Call the Flask endpoint to get censored news
            const response = await fetch('/get_news', { method: 'POST' });
            const result = await response.json();

            var newsOutputDiv = document.getElementById('newsOutput');
            // This returns the result in bulleted list style format
            newsOutputDiv.innerHTML = '<ul>' + result.censored_news.split('\n').map(news => `<li>${news}</li>`).join('') + '</ul>';
        }
    </script>

</body>
</html>
